{% extends "base.html" %}

{% block content %}


<div class="container-fluid features">
    <p></p>
    <h3>Upload Auftragsdatei</h3>

    <table align="right">
        <tr><td><a class="btn btn-primary" role="button" href="/readRzp?getAll=1" align="right">alle RZP-Daten lesen</a></td></tr>
    </table>

    <table class="table table-striped table-bordered table-hover">
    <thead style="position: sticky;top: 0" class="table-dark">
        <tr>
            <th>Status</th>
            <th>Lauf</th>
            <th>lfd.Nr.</th>
            <th>PANR</th>
            <th>PRNR</th>
            <th>VOAT</th>
            <th>ZE</th>
            <th>BE</th>
            <th>ME</th>
            <th>Testziel</th>
            <th>JiraId</th>
            <th>Auftragsdatei</th>
            <th>RZP-IDs</th>
            <th>Prüfergebnis EKL</th>
            <th>Zielwelt</th>
            <th class="text-center">KUGA</th>
            <th class="text-center">AAN</th>
            <th class="text-center">WCH</th>
            <th class="text-center">PERF-I</th>
            <th class="text-center">PERF-P</th>
            <th class="text-center">RERE</th>
            <th class="text-center">REFUE</th>
            <th class="text-center">REZA</th>
            <th class="text-center">KAUS</th>
            <th>Auftrag</th>
            <th>MongoDb's</th>
        </tr>
    </thead>
    <tbody>
        {% for eintrag in data %}

        <tr>
            <td align="center">
                {% set status = status(eintrag['transaktionsId'], eintrag['ziel'], eintrag['zielwelt']) %}
                {% if status == "ok" %}
                    <img src="{{url_for('static', filename='icons8-green-circle-30.png')}}" width="30" height="30" alt="OK">
                {% elif status == "nok" %}
                    <img src="{{url_for('static', filename='icons8-orange-circle-30.png')}}" width="30" height="30" alt="NOK">
                {% else %}
                    <img src="{{url_for('static', filename='icons8-white-circle-30.png')}}" width="30" height="30" alt="n.d.">
                {% endif %}</td>
            <td>{{ eintrag['runId'] }}</td>
            <td>{{ eintrag['laufendeNummerZL'] }}</td>
            <td>{{ eintrag['za_panr'] }}</td>
            <td>{{ eintrag['za_prnr'] }}</td>
            <td>{{ eintrag['za_voat'] }}</td>
            <td>{{ eintrag['rolleZe'] }}</td>
            <td>{{ eintrag['rolleBe'] }}</td>
            <td>{{ eintrag['rolleMe'] }}</td>
            <td>{% if eintrag['ziel'] != None %}
                    {% if eintrag['ziel'][:3].lower() == "rzp" %}
                        {% set ziel = "RZP" %}
                    {% elif eintrag['ziel'][:4].lower() == "reds" %}
                        {% set ziel = "REDS" %}
                    {% else %}
                        {% set ziel = "?" %}
                    {% endif %}
                    {{ ziel }} - {{ eintrag['titel'] }}
                {% endif %}</td>
            <td>{{ eintrag['jiraId'] }}</td>
            <td><center><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#auftragsdatei_{{eintrag['dsId'] }}" aria-expanded="false" aria-controls="auftragsdatei_{{eintrag['dsId'] }}">File</button></center>
                <div class="collapse" id="auftragsdatei_{{eintrag['dsId'] }}"><div class="card card-body" style="white-space: nowrap;">{{ eintrag['datei'] }}</div></div></td>
            <td>
                <center><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#transaktionId_{{eintrag['dsId'] }}" aria-expanded="false" aria-controls="transaktionId_{{eintrag['dsId'] }}">ID</button></center>
                <div class="collapse" id="transaktionId_{{eintrag['dsId'] }}"><div class="card card-body" style="white-space: nowrap;">
                    <ul>
                        <li>TransaktionsId: {{ eintrag['transaktionsId'] }}</li>
                        <li>IdentitaetenId ZE: {{ eintrag['identitaetenId_ze'] }}</li>
                        <li>IdentitaetenId BE: {{ eintrag['identitaetenId_be'] }}</li>
                        <li>IdentitaetenId ME: {{ eintrag['identitaetenId_me'] }}</li>
                        <li>IdentitaetenId KI: {{ eintrag['identitaetenId_ki'] }}</li>
                    </ul>
                </div></div>
            </td>
            <td align="center">
                {% if eintrag['pruefergebnis'] == "FEHLER" %}
                    <button class="btn btn-danger" type="submit">F {{ eintrag['fehler'] }} ({{ eintrag['anzFehler'] }})</button>
                {% elif eintrag['pruefergebnis'] == "HINWEIS" %}
                    <button class="btn btn-warning" type="submit">H {{ eintrag['hinweis'] }} ({{ eintrag['anzHinweise'] }})</button>
                {% elif eintrag['pruefergebnis'] == "OK" %}
                    <button class="btn btn-success" type="submit">OK</button>
                {% endif %}
            </td>
            <td align="center">{{ eintrag['zielwelt'] }}</td>

            {% if eintrag['kuga'] == "1" %}
            <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=KUGA&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['kuga_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td></td>
            {% endif %}

            {% if eintrag['aan'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['aan'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=AAN&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['aan_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['wch'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['wch'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=WCH&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['wch_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['perf_ident'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['perf_ident'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=PERF_IDENT&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['perf_ident_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['perf_pers'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['perf_pers'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=PERF_PERS&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['perf_pers_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['rere'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['rere'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=RERE&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['rere_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['refue'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['refue'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=REFUE&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['refue_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['reza'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['reza'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=REZA&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['reza_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['kaus'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">-</button></td>
            {% elif eintrag['kaus'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=KAUS&transaktionsId={{ eintrag['transaktionsId'] }}" title="{{ eintrag['kaus_status'] }}"><img src="{{url_for('static', filename='dokument.png')}}" width="24" height="24" alt="RZP-Daten"></a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}
            <td align="center"><a href="/showAuftragDetails?runId={{ eintrag['runId'] }}&dsId={{ eintrag['dsId'] }}"><img src="{{url_for('static', filename='information.png')}}" width="32" height="32" alt="RZP-Daten lesen"></a></td>
            <td align="center">
                <form action = "/readRzp" method = "post">
                    <input type="hidden" name="runId" value="{{ eintrag['runId'] }}">
                    <input type="hidden" name="dsId" value="{{ eintrag['dsId'] }}">
                    <input type="hidden" name="sendungsnummer" value="{{ eintrag['za_sendungsnummer'] }}">
                    <input type="hidden" name="datei" value="{{ eintrag['za_datei'] }}">
                    <input type="image" name="submit" src="{{url_for('static', filename='databases.png')}}" width="32" height="32">
                </form></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>




{% endblock %}