{% extends "base.html" %}

{% block content %}

<div class="container-fluid features">
    <p></p>
    <h3>Upload Auftragsdatei</h3>

    <table align="right">
        <tr><td><a class="btn btn-primary" role="button" href="/readRzp?getAll=1" align="right">alle RZP-Daten lesen</a></td></tr>
    </table>

    <form method="POST" action="" enctype="multipart/form-data">
    <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Lauf</th>
            <th>lfd.Nr.</th>
            <th>PANR</th>
            <th>PRNR</th>
            <th>VOAT</th>
            <th>ZE</th>
            <th>BE</th>
            <th>ME</th>
            <th>Auftragsdatei</th>
            <th>RZP-IDs</th>
            <th>Prüfergebnis</th>
            <th>Anz Fehler</th>
            <th>Fehlercode</th>
            <th>Anz Hinweise</th>
            <th>Hinweiscode</th>
            <th>KUGA</th>
            <th>AAN</th>
            <th>WCH</th>
            <th>PERF-I</th>
            <th>PERF-P</th>
            <th>KAUS</th>
            <th>Details</th>
            <th>RZP-Daten holen</th>
        </tr>
    </thead>
    <tbody>
        {% for eintrag in data %}

        <tr>
            <td>{{ eintrag['runId'] }}</td>
            <td>{{ eintrag['laufendeNummerZL'] }}</td>
            <td>{{ eintrag['za_panr'] }}</td>
            <td>{{ eintrag['za_prnr'] }}</td>
            <td>{{ eintrag['za_voat'] }}</td>
            <td>{{ eintrag['rolleZe'] }}</td>
            <td>{{ eintrag['rolleBe'] }}</td>
            <td>{{ eintrag['rolleMe'] }}</td>
            <td>{{ eintrag['datei'] }}</td>
            <td>
                <center><button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#transaktionId" aria-expanded="false" aria-controls="transaktionId">ID</button></center>
                <div class="collapse" id="transaktionId"><div class="card card-body" style="white-space: nowrap;">
                    <ul>
                        <li>TransaktionsId: {{ eintrag['transaktionsId'] }}</li>
                        <li>IdentitaetenId ZE: {{ eintrag['identitaetenId_ze'] }}</li>
                        <li>IdentitaetenId BE: {{ eintrag['identitaetenId_be'] }}</li>
                        <li>IdentitaetenId ME: {{ eintrag['identitaetenId_me'] }}</li>
                        <li>IdentitaetenId KI: {{ eintrag['identitaetenId_ki'] }}</li>
                    </ul>
                </div></div>
            </td>
            <td align="center">
                {% if eintrag['pruefergebnis'] == "FEHLER" %}
                    <button class="btn btn-danger" type="submit">
                {% elif eintrag['pruefergebnis'] == "HINWEIS" %}
                    <button class="btn btn-warning" type="submit">
                {% elif eintrag['pruefergebnis'] == "OK" %}
                    <button class="btn btn-success" type="submit">
                {% endif %}
                {{ eintrag['pruefergebnis'] }}
                    </button>
            </td>
            <td align="center">{{ eintrag['anzFehler'] }}</td>
            <td align="center">{{ eintrag['fehler'] }}</td>
            <td align="center">{{ eintrag['anzHinweise'] }}</td>
            <td align="center">{{ eintrag['hinweis'] }}</td>

            {% if eintrag['kuga'] == "1" %}
            <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=KUGA&transaktionsId={{ eintrag['transaktionsId'] }}">Dok</a></td>
            {% else %}
                <td></td>
            {% endif %}

            {% if eintrag['aan'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">---</button></td>
            {% elif eintrag['aan'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=AAN&transaktionsId={{ eintrag['transaktionsId'] }}">Dok</a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['wch'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">---</button></td>
            {% elif eintrag['wch'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=WCH&transaktionsId={{ eintrag['transaktionsId'] }}">Dok</a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['perf_ident'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">---</button></td>
            {% elif eintrag['perf_ident'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=PERF_IDENT&transaktionsId={{ eintrag['transaktionsId'] }}">Dok</a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['perf_pers'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">---</button></td>
            {% elif eintrag['perf_pers'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=PERF_PERS&transaktionsId={{ eintrag['transaktionsId'] }}">Dok</a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}

            {% if eintrag['kaus'] == "2" %}
                <td align="center"><button class="btn btn-danger" type="submit">---</button></td>
            {% elif eintrag['kaus'] == "1" %}
                <td align="center"><a class="btn btn-success" role="button" href="/readDocument?herkunft=KAUS&transaktionsId={{ eintrag['transaktionsId'] }}">Dok</a></td>
            {% else %}
                <td align="center"></td>
            {% endif %}
            <td><a class="btn btn-primary" role="button" href="/showAuftragDetails?runId={{ eintrag['runId'] }}&dsId={{ eintrag['dsId'] }}">Auftragsdetails</a></td>
            <td><a class="btn btn-primary" role="button" href="/readRzp?runId={{ eintrag['runId'] }}&dsId={{ eintrag['dsId'] }}">RZP-Daten</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>




{% endblock %}